@font-face {
    font-family: 'MapoPeacefull';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-image : url("../image/000049880004.jpg");
    background-size: auto 100vh;
    background-position: center top; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: 'MapoPeacefull';
    background-color: #264022;
}

body::before {
    content: "";
    background-image: url("../image/000049880004.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 440px;
    margin-bottom: 10px;
}

form span {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    color: #444059;
    background: #C1D4D9;
}

.library {
    margin-bottom: 10px;
    font-family: 'MapoPeacefull';
    font-size: 15px;
}

.library:focus-visible,
input:focus-visible {
    outline: none;
}

input {
    height: 40px;
    width: 100%;
    padding-right: 30px;
    padding-left: 25px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 5px #264022;
    font-family: 'MapoPeacefull';
}

button {
    position: absolute;
    right: -18px;
    bottom: 9px;
    background: none;
    border: none;
    color: #264022;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
}

.bottomMessage {
    color: #F2F2F2;
    text-align: center;
    position: relative;
}

.bottomMessage span {
    background: #264022;
}