<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Used books in suwon</title>
</head>
<body>
    <h1>Used books in suwon</h1>
    <form action="/report" method="get">
        <i class="fas fa-search"></i>
        <input type="text" name="searchword" required>
        <button>검색</button>
    </form>
</body>
<script
      src="https://kit.fontawesome.com/6478f529f2.js"
      crossorigin="anonymous"
    ></script>
</html>