<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/report.css">
    <title>{{searchword}} : Used books in suwon</title>
</head>
<body>
    <header>
        <a href="/" >
            <i class="fas fa-arrow-circle-left fa-2x"></i>
        </a>
        <p>
            수원에 있는 알라딘 중고서점과 {{lib}}도서관에서
            </br>
            <span class='highlight'>{{searchword}}</span>을(를) 검색한 결과입니다
        </p>
        <div class="link">
            <a href="https://www.aladin.co.kr/usedstore/wstoremain.aspx?offcode=Suwon" target="_blank">
                <img src="../static/image/aladin_logo_used_2.jpg">
            </a>
            <span>수원점</span>
        </div>
        <div class="link">
            <a href="https://www.aladin.co.kr/usedstore/wstoremain.aspx?offcode=Suwon2" target="_blank">
                <img src="../static/image/aladin_logo_used_suwon2_2.jpg">
            </a>
            <span>수원시청점</span>
        </div>
        <div class="link">
            <a href="https://www.suwonlib.go.kr:8443/" target="_blank">
                <img src="../static/image/ci_01.jpg">
            </a>
            <span>수원시도서관</span>
        </div>
    </header>
    {% if books == [] %}
    <div class="no-result">
        검색 결과가 없습니다.
    </div>
    {% endif %}
    <table>
        {% for book in books %}
        <tr>
            <td>
                <img class="book-cover" src="{{ book.image }}">
            </td>
            <td class="info">
                <div>{{ book.title }}</div>
                {% if book.store %}
                <div style="color: red">
                    {% for store in book.store %}
                    알라딘 {{ store }}
                    {% endfor %}
                </div>
                {% endif %}
                {% if book.lib %}
                <div style="color: blue">
                   {{ book.lib }}도서관 | {{ book.state }}
                </div>
                {% endif %}
            </td>
        </tr>
            {% endfor %}
    </table>
</body>
<script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>
</html>